$icon-size: 2rem;
$floating-size: $icon-size * 1.75;
$multiply: 1.2;

.floating {
    z-index: 1000;
    background-color: #25d342;
    
    position: fixed;
    margin: 2rem 2rem;
    margin-left: auto;
    
    right: 0;
    bottom: 0;

    height: $floating-size;
    width: $floating-size;
    display: flex;

    box-sizing: border-box;
    border-radius: 50%;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
    color: white !important;

    cursor: pointer;
    transition: height .1s ease, width .1s ease;

    span {
        margin: auto;
        font-size: $icon-size;
        line-height: $icon-size;
        transition: font-size .1s ease;
    }

    &:hover, &:active, &:focus {
        height: $floating-size * $multiply;
        width: $floating-size * $multiply;

        span {
            font-size: $icon-size * $multiply;
        }
    }
}

.bottom {
    z-index: 2;
    padding: 1.5rem 0 1rem;
    .copy {
        font-size: .9rem;
    }

    .faq {
        font-weight: 500;
        a {
            // @include
        }
    }
}