footer {
    position: relative;
    .navbar {
        // position: absolute;
        z-index: 2;
        .navbar-brand {
            .custom-logo {
                width: 180px;
                height: auto;
            }
        }

        .actions {
            .goto-blog {
                display: flex;

                > * {
                    margin: auto;
                }

                .icon {
                    svg {
                        height: 30px;
                        width: auto;
                    }
                }

                .text {
                    margin-left: 1rem;
                    font-weight: 500;
                    font-size: 1.1rem;
                }

                color: var(--bs-dark) !important;

                &:hover,
                &:active,
                &:focus {
                    color: var(--bs-primary) !important;
                }
            }

            .social-icons {
                margin-left: 3rem;
                .social-icon {
                    margin-left: 0;
                    margin-right: 1rem;
                    border-radius: 50%;
                }
            }
        }
    }

    .footer-content {
        position: relative;
        background-color: #dfdfdf;

        .footer-text {
            margin-left: calc(3rem + .9vw);
            margin-right: calc(3rem + .9vw);
        }

        .footer-form {
            z-index: 1;
            box-shadow: -4px -6px 19px 0px rgba(0, 0, 0, 0.2);
            margin-right: 4rem;
            // height: 100%;
            min-width: 400px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            overflow: hidden;

            .heading {
                background-color: var(--bs-primary);
                padding: 2rem 4rem 1rem 2.5rem;
                color: white;
            }

            .form {
                padding: 2rem 4rem 1rem 2.5rem;
                
                .form-floating label {
                    color: white;
                }

                .form-check label {
                    font-size: .875rem;
                    line-height: 1.5;
                }

                .form-control, .form-check-input {
                    background-color: #555;
                    color: white;

                    &::placeholder {
                        color: rgba(white, .7);
                    }

                    &:checked {
                        background-color: var(--bs-primary);
                    }
                }
                button {
                    font-size: .9rem;
                    font-weight: 500;
                    padding: .5rem 1.25rem;
                }
                .bottom-text {
                    margin-top: 1rem;
                    font-size: 1.25rem;
                    line-height: 1.5;
                }
            }
        }
    }
}

@media all and (max-width: 960px) {
    footer {
        .navbar {
            .actions {
                .goto-blog {
                    .text {
                        font-size: 1rem;
                    }
                }

                .social-icons {
                    width: 50%;
                    margin-left: 0;
                    .social-icon {
                        margin-right: .25rem;
                    }
                }
            }
        }

        .footer-content {
            .footer-form { 
                margin-right: 0;
                border-top-right-radius: 0;
                max-width: 400px;
            }
        }
    }
}

@media all and (max-width: 768px) {
    footer {
        .navbar {
            .navbar-brand {
                margin-left: auto;
                margin-bottom: .75rem;
            }
            .actions {
                flex-flow: column;
                margin: auto;

                .social-icons {
                    margin-top: .75rem;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        .footer-content {
            flex-direction: column;
            .footer-text {
                margin: 0; 
                padding: 0 calc(1rem + 1vw);
            }
            .footer-form { 
                margin: 0 auto;
                border-top-right-radius: 20px;
                min-width: unset;
            }
        }
    }
}


.cookies-consent {
    z-index: 10000;
    opacity: 0;
    position: fixed;
    bottom: 0;
    left: 0;

    transition: opacity .5s;
    
    margin: 1rem;
    padding: .75rem;

    background: white;

    max-width: 350px;
    border-radius: 5px;
    box-shadow: -2px 2px 10px 0px rgba(0,0,0,0.3);
    
    font-size: .9rem;

    .text p {
        margin-top: 0;
        margin-bottom: .75rem;
    }

    .action button {
        font-size: .9rem;
    }
}