header {
    .menu-item {
        text-transform: uppercase;
        margin-left: 1.5rem;
        
        .nav-link {
            font-weight: 500;
            letter-spacing: 1px;
            padding: .375rem 0 !important;
            // padding-left: 0 !important;
            // padding-right: 0 !important;
            
            color: var(--bs-dark);

            transition: color .1s, border-bottom-color 0.1s ease;
            border-bottom: solid 2px transparent;
            
            &:hover, &:active, &:focus {
                color: var(--bs-primary);
            }
            
            &.active {
                font-weight: bold;
                color: var(--bs-primary);
                border-bottom-color: var(--bs-primary);
            }

        }

    }
}