.top {
    z-index: 1000;
    padding-top: 1.5rem;

    .social-icons {
        .social-icon {
            margin-left: 0;
            margin-right: .75rem;
        }
    }
    

    .actions {
        .btn {
            font-weight: 500;
            
            margin: auto;
            margin-right: 0;
            margin-left: .5rem;
        }    
        .search {
            .search-btn {
            
                -webkit-text-stroke: 1px var(--bs-primary);
                font-weight: 900;
                transition: -webkit-text-stroke .1s;
                
                &:hover, &:active, &.show {
                    -webkit-text-stroke: 1px var(--bs-white);
                }

                &::after {
                    display: none;
                }
            }
    
            .dropdown-menu {
                top: 0.25rem !important;
                right: 0 !important;
                inset: 0.25rem 0 auto 0 !important;
                transform: translate(0, 32px) !important;
                z-index: 2000;
                box-shadow: 0 10px 15px rgba(#000, .1);
                background-color: transparent;

                input {
                    background-color: white;
                }
            }
        }
    }
}