.top {
    padding-top: 1.5rem;

    .social-icons {
        .social-icon {
            margin-left: 0;
            margin-right: .75rem;
        }
    }
    

    .actions {
        .btn {
            font-weight: 500;
            
            margin: auto;
            margin-right: 0;
            margin-left: .5rem;
        }    
        .search-btn {
            
            -webkit-text-stroke: 1px var(--bs-primary);
            font-weight: 900;
            transition: -webkit-text-stroke .1s;
            
            &:hover, &:active, &:focus {
                -webkit-text-stroke: 1px var(--bs-white);
            }
        }
    }
}