@import 'util';

// partials
@import 'partials/top.scss';
@import 'partials/header.scss';
@import 'partials/footer.scss';
@import 'partials/bottom.scss';
@import 'partials/searchform.scss';

// templates
@import 'templates/home.scss';
@import 'templates/sobre.scss';
@import 'templates/contato.scss';
@import 'templates/exames.scss';

body {
    background-color: var(--bs-light) !important; 
    background-color: #dedede !important; 
    // background: linear-gradient(0deg, #dedede, #e9e9e9) !important; 
    overflow-x: hidden;
}