@import 'util';
@import 'form';

// partials
@import 'partials/top';
@import 'partials/header';
@import 'partials/footer';
@import 'partials/bottom';
@import 'partials/searchform';

// templates
@import 'templates/home';
@import 'templates/sobre';
@import 'templates/contato';
@import 'templates/exames';
@import 'templates/blog';
@import 'templates/especialista';
@import 'templates/convenio';

body {
    background-color: #e9e9e9 !important; 
    // background: linear-gradient(0deg, #dedede, #e9e9e9) !important; 
    overflow-x: hidden;
}

body.single-post,
body.post-type-archive-especialista,
body.post-type-archive-exame,
body.tax-tipo,
body.single-especialista {
    background-color: white !important;
}