.tlink {
    text-decoration: none;
    color: inherit !important;

    &:hover,
    &:active,
    &:focus {
        &.tlink-hover-primary {
            color: var(--bs-primary) !important;
        }

        &.tlink-hover-decoration {
            text-decoration: underline;
        }
    }
}

.very-small {
    font-size: 0.75rem;
    line-height: 1.5;
}

.social-icons {
    .social-icon {
        margin: auto;
        display: inline-flex !important;
        height: 33px;
        width: 33px;
        padding: 0 !important;
        font-size: 1.1rem !important;
    
        span, span::before {
            line-height: 1;
            vertical-align: text-bottom;
            margin: auto;
        }
    }
}

.slim {
    padding: 0.375rem 1.75rem !important;
}