.template-contato {
    .title-heading {
        .text {
            font-size: 1.25rem;
        }
    }
    .contato {
        $over: 3rem;
        background-color: var(--bs-primary);
        margin: calc($over + 3rem) 0;

        .col {
            margin-right: 2rem;

            &:last-child {
                margin-right: 0;
            }
        }

        .form {
            padding: 2rem 3rem;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0px 10px 20px rgba(#000, 0.2);
            margin-top: -$over;
            margin-bottom: -$over;

            .banner {
                .icon {
                    $icon-size: 2rem;

                    a {
                        background-color: #25d342;

                        height: $icon-size * 1.75;
                        width: $icon-size * 1.75;
                        display: flex;

                        box-sizing: border-box;
                        border-radius: 50%;
                        color: white !important;

                        cursor: pointer;
                        transition: background-color 0.2s ease;

                        span {
                            margin: auto;
                            font-size: $icon-size;
                            line-height: $icon-size;
                        }

                        &:hover,
                        &:active,
                        &:focus {
                            background-color: #47e761;
                        }
                    }
                }
            }

            .form-content {
                .form-group {
                    label {
                        text-transform: uppercase;
                        font-size: 0.875rem;
                    }
                }
            }
        }

        .more {
            padding: 2rem 3rem;

            * {
                color: white;
            }

            .text {
                font-size: 1.1rem;
            }
        }
    }

    .unidades-cards {
        padding: 3rem 0 4rem;

        .title {
            margin-bottom: 2rem;
        }

        .unidade {
            padding: 1.5rem 1rem;

            margin-bottom: 3rem;
            background-color: white;
            box-shadow: 0px 6px 18px rgba(#000, 0.2);
            border-radius: 10px;

            &:last-child {
                margin-bottom: 0;
            }

            .image {
                img {
                    display: block;
                    height: auto;
                    max-height: 250px;
                    object-fit: contain;
                    border-radius: 10px;
                }
            }

            .content {
                padding: 1.5rem 2rem;
            }

            .map {
                display: block;
                height: 100%;

                iframe {
                    height: 250px;
                    width: 100%;
                    object-fit: cover;

                    border-radius: 10px;
                }
            }
        }
    }

    .boxes {
        background-color: white;
        margin: 2rem 0 0;
        padding: 4rem 0;
        
        .box {
            background-color: #e0e0e0;
            padding: 2.5rem 3rem;
            margin: 0 auto;
            
            max-width: 280px;

            &:first-child {
                margin-right: 3rem;
            }
            &:last-child {
                margin-left: 3rem;
            }
        }
    }
}

@media all and (max-width: 992px) {
    .template-contato {

        .contato {
            padding: 1.5rem 0;
            .form {
                margin: 0;
                padding: 1.5rem;
                
                .form-content {
                    margin: 0 auto;
                    display: flex;
                    padding: 0 !important;

                    > * {
                        margin: 0 auto;
                    }
                }
            }

            .more {
                padding: 1.5rem;
            }
        }

        .unidades-cards {
            .unidade {
                .image img, .map iframe {
                    max-height: 350px;
                }
            }
        }
    }
}

@media all and (max-width: 768px) {
    
    .template-contato {
        .boxes {
            padding: 2rem .125rem;
            .box {
                margin: 1.5rem auto !important;
                padding: 1.5rem 1rem;
                // display: flex;

                // .inner {
                //     margin: auto;
                // }
            }
        }
    }
}