.template-exames {
    .preparos {
        padding-bottom: 3rem;
        .col {
            padding-right: 2rem;

            &:last-child {
                padding-right: 0;
            }
        }

        .list {
            padding: 1rem;
            .explain {
                .title {
                    color: var(--bs-primary);
                }

                .text {
                    font-size: 1.1rem;
                    line-height: 1.5;
                }
            }

            .exame {
                margin-top: 2.5rem;
            }
        }

        .search {
            position: relative;

            > .inner {
                .searchform {
                    > .inner {
                        margin-left: auto;

                        width: 400px;

                        input {
                            width: 400px;
                        }
                    }
                }
            }
            .show-exame {
                position: relative;
                padding: 2rem 0;
                padding-left: 6rem;

                .under {
                    position: absolute;
                    background-color: var(--bs-primary);
                    z-index: -1;
                    top: 5rem;
                    bottom: 0;
                    left: 0;
                    right: -8rem;

                    border-radius: 10px;
                }

                > .inner {
                    width: 100%;
                    .image img {
                        width: 100%;
                        box-shadow: 0px 10px 20px rgba(#000, 0.2);
                        border-radius: 10px;
                    }

                    .content {
                        margin-top: 2rem;

                        * {
                            color: white;
                        }
                        .title {
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }

    .laboratorio {
        padding: 3rem 0;

        .col {
            padding-right: 2rem;

            &:last-child {
                padding-right: 0;
            }
        }

        .list {
            width: 100%;
            padding: 1rem;
            padding-right: 2.5rem;

            .exame {
                margin-top: 2.5rem;
                margin-right: 0;
            }
        }

        .options {
            width: 100%;
            .image img {
                border-radius: 10px;
                width: 100%;
            }

            .actions {
                .action-row {
                    padding: 0.6rem 0;

                    .text {
                        font-size: 1.25rem;
                        font-weight: 500;
                        line-height: 1;
                    }
                    .action {
                    }
                }
            }
        }
    }

    .fale-conosco {
        background-color: var(--bs-primary);
        padding: 3rem 0;

        .col {
            margin-right: 2rem;

            &:last-child {
                margin-right: 0;
            }
        }

        .form {
            padding: 2rem 3rem;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0px 10px 20px rgba(#000, 0.2);

            .form-content {
                .form-group {
                    label {
                        text-transform: uppercase;
                        font-size: 0.875rem;
                    }
                }
            }
        }

        .more {
            padding: 2rem 3rem;

            * {
                color: white;
            }

            .text {
                font-size: 1.1rem;
            }

            .banner {
                .icon {
                    $icon-size: 2rem;

                    a {
                        background-color: #25d342;

                        height: $icon-size * 1.75;
                        width: $icon-size * 1.75;
                        display: flex;

                        box-sizing: border-box;
                        border-radius: 50%;
                        color: white !important;

                        cursor: pointer;
                        transition: background-color 0.2s ease;

                        span {
                            margin: auto;
                            font-size: $icon-size;
                            line-height: $icon-size;
                        }

                        &:hover,
                        &:active,
                        &:focus {
                            background-color: #47e761;
                        }
                    }
                }
            }
        }
    }
}

.single-exame {
    padding: 0 0 4rem;

    .container > .row > .col {
        padding-left: 4rem;

        &:first-child {
            padding-left: 0;
        }
    }
    .date {
        .icon {
            -webkit-text-stroke: 1px var(--bs-primary);
            line-height: 1;
        }
        .text {
            line-height: 1;
        }
    }

    .image-view {
        margin: 2rem 0;
        padding: 2.5rem 0;
        position: relative;

        .content {
            .title {
                text-transform: uppercase;
                color: var(--bs-dark);
            }
        }

        .image {
            img {
                border-radius: 10px;
                height: 100%;
                display: block;
                box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.2);
            }
        }

        .underlay {
            border-radius: 10px;

            z-index: -1;
            position: absolute;
            right: -8rem;
            left: 25%;
            top: 0;

            height: 100%;
            // width: 40%;
            background-color: var(--bs-primary);
        }
    }

    .exame {
        width: 75%;
        margin-right: 0 !important;
    }
}