.template-home {
    // background-color: red;
    margin-top: -200px;
    position: relative;

    .home-cta {
        position: relative;

        padding: 2rem 0;
        padding-top: calc(200px + 3rem);

        .bg-img {
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 80%;
            inset: 0;
        }

        .cta {
            .title {
                color: #4c4c4c;
            }
        }
        .exames {
            .exame {
                padding: 0;
                background-color: #dedede;
                border-radius: 0.25rem;
                box-shadow: 0 8px 15px 0px rgba(0, 0, 0, 0.2);

                &:first-child {
                    margin-right: calc(5rem - 0.9vw);
                }

                .heading {
                    padding: 1rem;
                    display: flex;
                    border-bottom: solid 2px var(--bs-dark);

                    > * {
                        text-transform: uppercase;
                        font-size: 1.25rem;
                        margin: auto;
                    }
                }

                .links {
                    padding: 1.5rem;

                    .link {
                        display: block;
                        cursor: pointer;
                        margin: 1rem 0;

                        text-transform: uppercase;
                        text-decoration: none;

                        color: var(--bs-dark);

                        .icon {
                            color: var(--bs-primary);
                        }

                        &:hover, &:active, &:focus {
                            color: var(--bs-primary);
                        }

                        &:first-child {
                            margin-top: 0;
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }

                .action {
                    padding: 1rem;
                    padding-top: 0;
                }
            }
        }
    }

    > .exame {
        margin: 2rem 0;
        padding: 2.5rem 0;

        .content {
            .title {
                text-transform: uppercase;
                color: var(--bs-dark);
            }
        }

        .image {
            img {
                border-radius: 10px;
                height: 100%;
                display: block;
                box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.2);
            }
        }

        &.exame-a {
            position: relative;

            .content {
                padding-right: 4rem;
            }

            .underlay {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;

                z-index: -1;
                position: absolute;
                right: 0;
                top: 0;

                height: 100%;
                width: 40%;
                background-color: var(--bs-primary);
            }
        }

        &.exame-b {
            margin: 4rem 0;
            
            position: relative;
            background-color: var(--bs-primary);

            .content {
                padding-left: 4rem;
                color: white;
                .title {
                    color: inherit;
                }
            }
        }
    }

    .unidades {
        background-color: var(--bs-primary);
        padding: 4rem 0;
        color: white !important;

        .title {
            margin-bottom: 2rem !important;
        }

        .row .col {
            &:first-child {
                margin-right: 5rem;
            }
        }

        .carousel {
            border-radius: 10px;
            overflow: hidden;

            .carousel-indicators {
                button {
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: transparent;
                    border: solid 1px white;
                    opacity: 1;

                    &.active {
                        background-color: white;
                    }
                }
            }

            .carousel-item {
                
                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

@media all and (max-width: 960px) {
    .template-home {
        .home-cta {
            .exames {
                .exame {
                    margin-right: 0;
                }
            }
        }
    }
}
