.template-sobre {
    .present {
        .text {
            font-size: 1.5rem;
            line-height: 1.5;
            font-weight: 600;
            color: var(--bs-dark);
            
            &::after {
                content: '';
                margin-top: 1rem;
                display: block;
                height: 7px;
                width: 100px;
                background-color: var(--bs-primary);
            }
        }
    }

    .sobre {
        $over: 3rem;
        border-top: solid 1px var(--bs-primary);
        margin-top: calc($over + 3rem);

        .col {
            height: 100%;
            display: flex;
            padding: 4rem 3rem 3rem;

            &:first-child {
                padding-right: 4rem;
            }
            
            &.normal {
                padding-top: calc($over / 2);
            }

            &.accent {
                margin-top: -$over !important;
                background-color: var(--bs-primary);
                color: white;
                border-radius: 10px;
            }
        }
    }

    .values {
        padding: 2rem 0;

        .value {
            padding: 2rem 3rem;
            background-color: #DEDEDE;
            box-shadow: 0px 10px 20px rgba(#000, .2);
            border-radius: 10px;
            text-align: center;
            margin-right: 1.5rem;
            display: flex;

            .inner {
                margin: auto;
            }
            
            &:last-child {
                margin-right: 0;
            }

            .title > * {
                color: var(--bs-dark);
                font-weight: 700 !important;
            }

            .text {
                margin-top: 1.5rem;   
            }

        }
    }
}